* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgb(235, 223, 235);
}
.watch {
  width: 550px;
  height: 230px;
  margin: 200px auto;
  border-radius: 7px;
}

.time,
.buttons {
  width: 100%;
  height: 50%;
  text-align: center;
  padding: 5px 0px;
}
.timer {
  font-size: 85px;
  font-weight: bold;
}
.button {
  display: inline-block;
  border: none;
  padding: 20px 50px;
  border-radius: 25px;
  margin: 0px 5px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  transition: all 0.5s;
}

.button:hover {
  background-color: red;
  background-image: linear-gradient(
    to right top,
    #ed433f,
    #df3a37,
    #d2302f,
    #c42627,
    #b71b1f
  );
  color: #fff;
}
